* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0c022a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: #daa520;
}

main {
    flex-grow: 1;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    margin: 6.25rem auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    color: goldenrod;
    text-shadow: 2px 2px 5px black;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    width: 18.75rem;
    height: 12.5rem; /* rem stands for root element */
    margin: .15 rem;
}

article p {
    overflow: hidden;
}

footer {
    flex-direction: column;
}

.hidden {
    display: none;
}

@media (min-width: 764px) {
    header {
        justify-content: start;
        padding-left: 1rem;
    }
}